# Preprocesamiento de Variables Dummy

Existen muchos métodos de machine learning para los cuales es necesario convertir las variables categóricas en 1’s y 0’s. 
La manera más sencilla de hacerlo es crear variables dummy (también llamadas ficticias), mediante un proceso conocido como one-hot encoding, el cual crea variables binarias, representando en cada fila la existencia de la característica con un “1” o su ausencia con un “0”.

In [24]:
import pandas as pd

In [26]:
hidroponia=pd.read_csv ('C:/Users/pc/Archivos en Jupyter/Variables Dummy (One-Hot Encoding)/Hidroponia_original.csv', encoding='cp1252')

In [27]:
hidroponia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cultivo          15 non-null     object
 1   pH               15 non-null     object
 2   EC               15 non-null     object
 3   Hortaliza        15 non-null     object
 4   Sistema          15 non-null     object
 5   Duracion_Ciclo   15 non-null     object
dtypes: object(6)
memory usage: 848.0+ bytes

In [28]:
hidroponia

       Cultivo          pH           EC Hortaliza    Sistema Duracion_Ciclo
0      Brócoli    6 to 6.8   2.8 to 3.5      Flor        NFT           70-90
1   Calabacita           6   1.8 to 2.4     Fruto      Goteo              45
2       Pepino    5 to 5.5     1.7 to 2     Fruto      Goteo           70-80
3    Pimientos    5.5 to 6   0.8 to 1.8     Fruto      Goteo              65
4        fresa           6   1.8 to 2.2     Fruto        NFT         120-150
5       Tomate    6 to 6.5       2 to 4     Fruto      Goteo         110-120
6     Albahaca    5.5 to 6     1 to 1.6      Hoja        NFT              90
7      Repollo    6.5 to 7     2.5 to 3      Hoja        NFT          80-100
8         Apio         6.5   1.8 to 2.4      Hoja        NFT          90-120
9      Lechuga      6 to 7   1.2 to 1.8      Hoja        NFT           80-90
10     Perejil    6 to 6.5   1.8 to 2.2      Hoja        NFT              80
11      Rábano      6 to 7   1.4 to 1.8      Raiz  Aeroponia           60-70
12   Espinacas      6 to 7   1.8 to 2.3      Hoja        NFT              75
13   Zanahoria  5.8 to 6.3   1.6 to 2.0      Raiz  Aeroponia          90-100
14    Cebollín  6.0 to 7.0  1.4  to 1.8     Tallo        NFT             120

In [38]:
Hortaliza_dummy = pd.get_dummies(hidroponia['Hortaliza'], prefix='Hortaliza')

In [39]:
Sistema_dummy = pd.get_dummies(hidroponia['Sistema'], prefix='Sistema')

In [40]:
hidroponia = pd.concat([hidroponia, Hortaliza_dummy], axis = 1)

In [41]:
hidroponia = pd.concat([hidroponia, Sistema_dummy], axis = 1)

In [43]:
hidroponia

,Cultivo,pH,EC,Hortaliza,Sistema,Duracion_Ciclo,Hortaliza_Flor,Hortaliza_Fruto,Hortaliza_Hoja,Hortaliza_Raiz,Hortaliza_Tallo,Sistema_Aeroponia,Sistema_Goteo,Sistema_NFT
0,Brócoli,6 to 6.8,2.8 to 3.5,Flor,NFT,70-90,1,0,0,0,0,0,0,1
1,Calabacita,6,1.8 to 2.4,Fruto,Goteo,45,0,1,0,0,0,0,1,0
2,Pepino,5 to 5.5,1.7 to 2,Fruto,Goteo,70-80,0,1,0,0,0,0,1,0
3,Pimientos,5.5 to 6,0.8 to 1.8,Fruto,Goteo,65,0,1,0,0,0,0,1,0
4,fresa,6,1.8 to 2.2,Fruto,NFT,120-150,0,1,0,0,0,0,0,1
5,Tomate,6 to 6.5,2 to 4,Fruto,Goteo,110-120,0,1,0,0,0,0,1,0
6,Albahaca,5.5 to 6,1 to 1.6,Hoja,NFT,90,0,0,1,0,0,0,0,1
7,Repollo,6.5 to 7,2.5 to 3,Hoja,NFT,80-100,0,0,1,0,0,0,0,1
8,Apio,6.5,1.8 to 2.4,Hoja,NFT,90-120,0,0,1,0,0,0,0,1
9,Lechuga,6 to 7,1.2 to 1.8,Hoja,NFT,80-90,0,0,1,0,0,0,0,1
10,Perejil,6 to 6.5,1.8 to 2.2,Hoja,NFT,80,0,0,1,0,0,0,0,1
11,Rábano,6 to 7,1.4 to 1.8,Raiz,Aeroponia,60-70,0,0,0,1,0,1,0,0
12,Espinacas,6 to 7,1.8 to 2.3,Hoja,NFT,75,0,0,1,0,0,0,0,1
13,Zanahoria,5.8 to 6.3,1.6 to 2.0,Raiz,Aeroponia,90-100,0,0,0,1,0,1,0,0
14,Cebollín,6.0 to 7.0,1.4 to 1.8,Tallo,NFT,120,0,0,0,0,1,0,0,1

In [51]:
hidroponia_dummies = hidroponia.drop (['pH', 'EC', 'Hortaliza', 'Sistema', 'Duracion_Ciclo '], axis =1)

In [52]:
hidroponia_dummies

,Cultivo,Hortaliza_Flor,Hortaliza_Fruto,Hortaliza_Hoja,Hortaliza_Raiz,Hortaliza_Tallo,Sistema_Aeroponia,Sistema_Goteo,Sistema_NFT
0,Brócoli,1,0,0,0,0,0,0,1
1,Calabacita,0,1,0,0,0,0,1,0
2,Pepino,0,1,0,0,0,0,1,0
3,Pimientos,0,1,0,0,0,0,1,0
4,fresa,0,1,0,0,0,0,0,1
5,Tomate,0,1,0,0,0,0,1,0
6,Albahaca,0,0,1,0,0,0,0,1
7,Repollo,0,0,1,0,0,0,0,1
8,Apio,0,0,1,0,0,0,0,1
9,Lechuga,0,0,1,0,0,0,0,1
10,Perejil,0,0,1,0,0,0,0,1
11,Rábano,0,0,0,1,0,1,0,0
12,Espinacas,0,0,1,0,0,0,0,1
13,Zanahoria,0,0,0,1,0,1,0,0
14,Cebollín,0,0,0,0,1,0,0,1

In [54]:
hidroponia_dummies_columnas = hidroponia.drop (hidroponia.columns[[0, 1, 2, 3, 4]], axis =1)

In [55]:
hidroponia_dummies_columnas

,Duracion_Ciclo,Hortaliza_Flor,Hortaliza_Fruto,Hortaliza_Hoja,Hortaliza_Raiz,Hortaliza_Tallo,Sistema_Aeroponia,Sistema_Goteo,Sistema_NFT
0,70-90,1,0,0,0,0,0,0,1
1,45,0,1,0,0,0,0,1,0
2,70-80,0,1,0,0,0,0,1,0
3,65,0,1,0,0,0,0,1,0
4,120-150,0,1,0,0,0,0,0,1
5,110-120,0,1,0,0,0,0,1,0
6,90,0,0,1,0,0,0,0,1
7,80-100,0,0,1,0,0,0,0,1
8,90-120,0,0,1,0,0,0,0,1
9,80-90,0,0,1,0,0,0,0,1
10,80,0,0,1,0,0,0,0,1
11,60-70,0,0,0,1,0,1,0,0
12,75,0,0,1,0,0,0,0,1
13,90-100,0,0,0,1,0,1,0,0
14,120,0,0,0,0,1,0,0,1

In [56]:
hidroponia_dummies_iloc=hidroponia.drop (hidroponia.iloc[:, 0:5], axis=1)

In [57]:
hidroponia_dummies_iloc

,Duracion_Ciclo,Hortaliza_Flor,Hortaliza_Fruto,Hortaliza_Hoja,Hortaliza_Raiz,Hortaliza_Tallo,Sistema_Aeroponia,Sistema_Goteo,Sistema_NFT
0,70-90,1,0,0,0,0,0,0,1
1,45,0,1,0,0,0,0,1,0
2,70-80,0,1,0,0,0,0,1,0
3,65,0,1,0,0,0,0,1,0
4,120-150,0,1,0,0,0,0,0,1
5,110-120,0,1,0,0,0,0,1,0
6,90,0,0,1,0,0,0,0,1
7,80-100,0,0,1,0,0,0,0,1
8,90-120,0,0,1,0,0,0,0,1
9,80-90,0,0,1,0,0,0,0,1
10,80,0,0,1,0,0,0,0,1
11,60-70,0,0,0,1,0,1,0,0
12,75,0,0,1,0,0,0,0,1
13,90-100,0,0,0,1,0,1,0,0
14,120,0,0,0,0,1,0,0,1

In [60]:
hidroponia_dummies.to_csv('C:/Users/pc/Archivos en Jupyter/Variables Dummy (One-Hot Encoding)/Hidroponia_original.csv')